@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes dino {
  from { background-position: -846px 0;}
  to {background-position: -1110px 0;}
}

@keyframes ground{
  from {background-position: 1000px 50px;}
  to {background-position: 0px 50px;}
}

.dino-ground{
  position: absolute;
width: 100%;
height: 20px;
  overflow: hidden;
  background: url(/img/dinosaur.jpeg) 100px 50px;
  animation: ground 4s steps(20) infinite;
  z-index: 0;
}

.dinosaur-image{
  position: absolute;
  width: 47px;
  height: 50px;
  background: url(/img/dinosaur.jpeg) -845px 0px;
  background-repeat: no-repeat;
  animation: dino 1s steps(6) infinite;
  overflow: hidden;
  z-index: 10;
}

.dinosaur-image-2{
  width: 45px;
  background: url(/img/dinosaur.jpeg) -890px 0px;
}

.dinosaur-image-3{
  width: 45px;
  background: url(/img/dinosaur.jpeg) -935px 0px;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
}

.jump {
  animation: jump 1s ease-in-out infinite;
}
